@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container {
  background-color: white;
  padding-left: px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 800px; /* Adjust width to match design */
  text-align: center;
}

.content-area {
  margin-left: 290px; /* Adjusted margin to account for sidebar width + padding */
  padding: 20px;
  transition: margin-left 0.3s ease;
  flex: 1;
  background-color: #f5f5f5;
  min-height: 100vh; /* Ensure it takes full height */
  overflow: auto;
}
