/* Import Caudex Font */
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
