.container {
    margin-left: 200px;
    padding: 20px;
    font-family: 'Caudex', serif;
    
}

.title {
    font-size: 2em;
    color: #A62626;
}

.searchContainer {
    display: flex;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3e6eb;
    border-radius: 25px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 40px;
}

.searchIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px; /* Space between icon and input */
    color: #666;
}

.searchInput {
    border: none;
    background: none;
    font-family: 'Caudex', serif;
    font-size: 1.1em;
    color: #666;
    outline: none;
    flex: 1; 
}

.searchInput::placeholder {
    color: #999;
    font-size: 1.1em;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.icon {
    margin-right: 8px;
    vertical-align: middle;
}

.actions {
    display: flex;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add some margin on top for spacing */
}

.pagination button {
    font-family: 'Caudex', serif; /* Use the Caudex font */
    color: #800000; /* White text for visibility */
    border: none; /* No border */
    padding: 10px 15px; /* Adjust padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.pagination button:hover {
    background-color: #990000; /* Darker shade on hover */
}

.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s;
}

.deleteButton:hover {
    opacity: 0.10; /* Makes the button slightly darker on hover */
}

.deleteButton:active {
    background-color: rgba(0, 0, 0, 0.1); /* Darkens the background slightly on click */
    opacity: 0.7; /* Reduces opacity a bit more to indicate click */
}

.deleteButton img {
    display: block;
    width: 45px; 
    height: 45px; 
}

/* Fade-out and slide-up animation */
@keyframes fadeOutSlideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fadeOut {
    animation: fadeOutSlideUp 0.2s forwards; 
}


