/* Import Caudex Font */
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');


.forgotPasswordBody {
  font-family: 'Caudex', serif;
  background: radial-gradient(circle at top left, rgba(166, 38, 38, 0.7) 5%, transparent 60%), 
              radial-gradient(circle at top right, rgba(166, 38, 38, 0.7) 5%, transparent 60%), 
              radial-gradient(circle at bottom center, rgba(166, 38, 38, 0.7) 5%, transparent 60%),
              radial-gradient(circle at center, rgba(240, 224, 224, 0.5) 40%, transparent 60%);
              
  background-color: #f0e2e2;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.forgotPasswordContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
  justify-content: center;
}

.heading {
  font-size: 1.5rem;
  color: #4c2323;
  font-weight: 700;
  margin-bottom: 2rem;
}

.Button {
    background-color: #A62626;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
    font-family: 'Caudex';
}

.Button:hover {
    background-color: #6d3030;
}

.Input {
  width: calc(100% - 28px); 
  padding: 12px;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Caudex', serif;
}

.error {
  color: red;
  margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  color: #A62626;
}
