/* Import Caudex Font */
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

.containerbackground {
    display: flex;
    min-height: 100vh;
    font-family: 'Caudex', serif;
    background-color:#FFFF;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  min-height: 100vh;
  font-family: 'Caudex', serif;
  background-color:#FFFF;
}

.roleHeader {
  font-size: 24px;
  color: #A62626;
  margin-bottom: 10px;
  margin-top: 0px;
}

.sidebar {
  width: 250px;
  background-color: #fdfdfd;
  border-right: 1px solid #e3e3e3;
  padding: 20px;
}

.logo img {
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 30px;
}

.nav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.nav a {
  display: flex;
  align-items: center;  
  margin-bottom: 15px;
  color: #4c2323;
  text-decoration: none;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.nav a img {
  margin-right: 10px;   
  width: 24px;          
  height: 24px;         
  margin-bottom: 0px;
  margin-left: 0px;
}

.nav a.active {
  background-color: #f7d9d9;
  padding: 10px;
  border-radius: 4px;
  color: #A62626;
}

.logout {
  display: flex;
  margin-top: 30px;
  color: #A62626;
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
}

.logout img {
  margin-right: 10px;   
  width: 24px;          
  height: 24px;         
  margin-bottom: 0px;
  margin-left: 0px;
}

.main {
  flex: 1;
  padding: 50px;
}

.title {
  font-size: 36px;
  color: #A62626;
  margin-bottom: 0px;
}

.form {
  width: 100%;
  max-width: 600px;
}

.fieldGroup {
  /* display: flex; */
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0px;
  padding-right: 10px;
  width: 1000px;
  
}

.fieldGroup label {
  width: 150px;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.fieldGroup input {
  flex: 1;
  padding: 10px;
  border: 1px solid #bbc7cd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Caudex';
  width: 500px;
  align-items: center;
}

.disabledInput {
  background-color: #f7f9fc;
}

.icon {
  margin-left: -40px;
  cursor: pointer;
  margin-bottom: 0px;
}



.passwordFields {
  display: flex;
  justify-content: space-between;
  /* padding-top: 5px; */
}

.passwordFields input {
  flex: 1;
  padding: 10px;
  height: 20px;
  border: 1px solid #bbc7cd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Caudex';
  width: 200px;
}

.passwordFields label {
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #4c2323;
}

.passwordFields .fieldGroup {
  width: 55%;

}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 0px;
  font-family: 'Caudex';
  width: 525px;
}

.saveButton {
  font-family: 'Caudex';
  background-color: #A62626;
  color: white;
  padding: 15px 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
}

.cancelButton {
  background-color: white;
  color: #A62626;
  border: 1px solid #A62626;
  padding: 15px 30px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Caudex';
}

.disabledInput {
  background-color: #f7f9fc;
  color: #a0a0a0; 
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  color: #A62626; 
}


  