
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

.containerbackground {
    display: flex;
    min-height: 100vh;
    font-family: 'Caudex', serif;
    background-color:#FFFF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Caudex', serif;
  background-color:#FFFF;
}

.roleHeader {
  font-size: 24px;
  color: #A62626;
  margin-bottom: 10px;
  margin-top: 0px;
}


.content {
  width: 68%;
  padding: 40px;
}

.title {
  font-size: 36px;
  color: #A62626;
  margin-bottom: 0px;
}

.form {
  width: 100%;
  max-width: 600px;
}

.fieldGroup {
  position: relative; /* Enables absolute positioning for the icon inside the input field */
  margin-bottom: 20px;
}

.fieldGroup input {
  flex: 1;
  padding: 10px;
  padding-right: 0px; /* Create space on the right side for the pencil icon */
  border: 1px solid #bbc7cd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Caudex';
  width: 500px;
}

.fieldGroup .icon {
  position: absolute;
  right: -120px; /* Position the icon 10px from the right */
  top: 50%;
   /* Vertically center the icon */
  cursor: pointer;
}


.disabledInput {
  background-color: #f7f9fc;
}

.icon {
  margin-left: -40px;
  cursor: pointer;
  margin-bottom: 0px;
}



.passwordFields {
  display: flex;
  justify-content: space-between;
  width: 500px;
  
}

.passwordFields input {
  flex: 1;
  padding: 10px;
  height: 20px;
  border: 1px solid #bbc7cd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Caudex';
  width: 200px;
}


.passwordFields label {
  margin-right: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #4c2323;
}

.passwordFields .fieldGroup {
  width: 55%;

}

.passwordFields .fieldGroup input {
  flex: 1;
  padding: 10px;
  height: 40px;
  padding-right: 0px; /* Create space on the right side for the pencil icon */
  border: 1px solid #bbc7cd;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Caudex';
  width: 200px;
}

.passwordFields .fieldGroup .icon {
  position: absolute;
  right: 10px; /* Position the icon 10px from the right */
  top: 50%;
  transform: translateY(-5%); /* Vertically center the icon */
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 0px;
  font-family: 'Caudex';
  width: 525px;
}

.saveButton {
  font-family: 'Caudex';
  background-color: #A62626;
  color: white;
  padding: 15px 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
}

.cancelButton {
  background-color: white;
  color: #A62626;
  border: 1px solid #A62626;
  padding: 15px 30px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Caudex';
}

.disabledInput {
  background-color: #f7f9fc;
  color: #a0a0a0; 
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  color: #A62626; 
}


  