/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./styles/generator-dokumen.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* .container {
display: flex;
background-color: #fdfdfd;
} */

/* Import Caudex Font */
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

.generator-dokumen_containerbackground__FEzrU {
display: flex;
min-height: 100vh;
font-family: 'Caudex', serif;
background-color:#FFFF;
width: 100%;
justify-content: space-between;
align-items: center;
}

.generator-dokumen_container__8j_qO {
display: flex;
min-height: 100vh;
width: 1000px;
font-family: 'Caudex', serif;
background-color:#FFFF;
}

.generator-dokumen_sidebar__u5qSZ {
width: 250px;
background-color: #fdfdfd;
border-right: 1px solid #e3e3e3;
padding: 20px;
margin-right: 100px;
}

.generator-dokumen_logo__qBrkw img {
max-width: 100%;
padding-bottom: 20px;
padding-top: 30px;
}

.generator-dokumen_icon___xo4c {
margin-right: 8px;
}

.generator-dokumen_nav__EmhF8 {
margin-top: 30px;
display: flex;
flex-direction: column;
height: 500px;
}

.generator-dokumen_nav__EmhF8 a {
display: flex;
align-items: center;  
margin-bottom: 15px;
color: #4c2323;
text-decoration: none;
font-size: 18px;
padding-left: 10px;
padding-bottom: 10px;
}

.generator-dokumen_nav__EmhF8 a img {
margin-right: 10px;   
width: 24px;          
height: 24px;         
margin-bottom: 0px;
margin-left: 0px;
}

.generator-dokumen_nav__EmhF8 a.generator-dokumen_active__TJZCN {
background-color: #f7d9d9;
padding: 10px;
border-radius: 4px;
color: #A62626;
}

.generator-dokumen_logout__pLyqY {
display: flex;
margin-top: 30px;
color: #A62626;
font-size: 18px;
text-decoration: none;
padding-left: 10px;
}

.generator-dokumen_logout__pLyqY img {
margin-right: 10px;   
width: 24px;          
height: 24px;         
margin-bottom: 0px;
margin-left: 0px;
}

.generator-dokumen_nav__EmhF8 a.generator-dokumen_active__TJZCN {
color: #b22222;
font-weight: bold;
}

.generator-dokumen_content__cI__R {
width: 80%;
padding: 40px;
}

.generator-dokumen_title__jKNIU {
    font-size: 36px;
    color: #A62626;
    margin-bottom: 10px;
}

.generator-dokumen_subtitle__l1fPS {
  font-size: 24px;
  color: #A62626;
  margin-bottom: 10px;
}

.generator-dokumen_label__sOjMv {
    font-weight: bold;
    margin-bottom: 10px;
}

.generator-dokumen_form__jya9Y {
    display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.generator-dokumen_docType__PDR2H,
.generator-dokumen_exportSection__Q7w0R {
margin-bottom: 20px;
}



.generator-dokumen_radioGroup__rCw8O input {
margin-right: 8px;
cursor: pointer;
}

.generator-dokumen_radioGroup__rCw8O label {
margin-right: 16px;
cursor: pointer;
}

.generator-dokumen_inputGroup__Luvar {
margin-bottom: 20px;
display: flex;
  justify-content: space-between;
  align-items: center;
}

.generator-dokumen_inputGroup__Luvar label {
    font-weight: bold;
    flex: 0 0 150px; /* Fixed width for labels */
  margin-right: 10px;
}

.generator-dokumen_inputGroup__Luvar input,
.generator-dokumen_inputGroup__Luvar textarea {
width: 100%;
padding: 10px;
border: 1px solid #A62626;
border-radius: 8px;
font-family: 'Caudex';
}

.generator-dokumen_inputRow__3GpcW {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'Caudex';
    font-weight: bold;
    align-items: center;
  }
  
  /* Container for the Nominal input field */
  .generator-dokumen_nominalContainer__mdFn2 {
    display: flex;
    flex-direction: column;
    flex: 1; /* Takes available space */
    margin-right: 20px; /* Space between nominal and percentage */
    font-family: 'Caudex';
  }
  
  /* Container for the Paid Percentage input field */
  .generator-dokumen_percentageContainer__HEG8s {
    display: flex;
    flex-direction: column;
    flex: 1; 
    width: 100px;
  }

.generator-dokumen_nominalInput__BhKTj {
display: flex;
align-items: center;
width: 100%;

}

.generator-dokumen_nominalInput__BhKTj span {
padding: 22px;
/* background-color: #f1f1f1; */
border: 1px solid #A62626;
border-right: none;
border-radius: 8px 0 0 8px;
height: 17px;
}

.generator-dokumen_nominalInput__BhKTj input {
border-left: none;
padding: 10px;
  border: 1px solid #b22222;
  border-radius: 0 8px 8px 0;
  font-family: 'Caudex';
  width: 500px;
}

.generator-dokumen_percentageInput__zEMyN {
    display: flex;
    align-items: center;
}

.generator-dokumen_percentageInput__zEMyN input {
    padding: 10px;
    border: 1px solid #b22222;
    border-radius: 8px 0 0 8px;
    /* border-right: none; */
    /* margin-right: 0; */
    font-family: 'Caudex';
    width:138px;
  }

.generator-dokumen_percentageInput__zEMyN span {
    padding: 22px;
    /* background-color: #f1f1f1; */
    border: 1px solid #A62626;
    border-left: none;
    border-radius: 0 8px 8px 0;
    height: 17px;
    font-weight: bold;
    
}

.generator-dokumen_datePicker__WXM_b {
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.generator-dokumen_datePicker__WXM_b input[type="date"] {
    font-family: 'Caudex', serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #A62626;
    width: 100%; /* Adjust width as needed */
  }

.generator-dokumen_datePicker__WXM_b label {
    flex: 0 0 150px; /* Fixed width for labels */
  margin-right: 10px;
    font-weight: bold;
}

.generator-dokumen_buttonGroup__wHz_0 {
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}


.generator-dokumen_submitButton__kDxe0 {
display: inline-flex; /* Use flexbox for alignment */
align-items: center;  /* Align the image and text vertically */
justify-content: center;
font-family: 'Caudex';
background-color: #A62626;
color: white;
padding: 15px 30px;
margin-bottom: 20px;
border: none;
border-radius: 32px;
font-size: 16px;
cursor: pointer;
width:400px;
}

.generator-dokumen_cancelButton__MuCvK {
background-color: white;
width:300px;
color: #A62626;
border: 1px solid #A62626;
padding: 15px 30px;
border-radius: 32px;
font-size: 16px;
margin-bottom: 20px;
cursor: pointer;
font-family: 'Caudex';
}

.generator-dokumen_exportSection__Q7w0R {
text-align: right;
}

.generator-dokumen_exportButton__l0xMg {
display: inline-flex; /* Use flexbox for alignment */
align-items: center;  /* Align the image and text vertically */
justify-content: center;
font-family: 'Caudex';
background-color: #A62626;
color: white;
padding: 15px 30px;
margin-bottom: 20px;
border: none;
border-radius: 32px;
font-size: 16px;
cursor: pointer;
width:300px;
}

.generator-dokumen_uploadButton__e55iU {
  background-color: white;
  width:300px;
  color: #A62626;
  border: 1px solid #A62626;
  padding: 15px 30px;
  border-radius: 32px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Caudex';
  }

.generator-dokumen_uploadConfirmButton__D166G {
  background-color: white;
  width:100px;
  color: #A62626;
  border: 1px solid #A62626;
  border-radius: 32px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Caudex';
}

.generator-dokumen_exportButton__l0xMg img {
margin-right: 8px;
}

.generator-dokumen_image__ZlmSn {
  width: 700px;
}

.generator-dokumen_kontrakImage__raqbj {
  height: 300px;
  padding-left: 300px;
}

.generator-dokumen_footer__cnKQT {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    color: #A62626; 
}

.generator-dokumen_uploadContainer__P9Niw {
  border: 2px dashed #cccccc;
  border-radius: 12px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  margin-left: 200px;
}

.generator-dokumen_uploadSubtitle__csQdM  {
  font-size: 14px;
  color:darkgrey;
}

.generator-dokumen_fileInputLabel__tCgH7 {
  text-align: center;
  cursor: pointer;
}

.generator-dokumen_fileInput__KICVO {
  display: none; /* Hide the default file input */
}
  

