/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/survei/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400&display=swap');

.survei_headingSurvei__hWzo8 {
    position: absolute;
    top: 116px;
    left: 352px;
    font-size: 40px;
    line-height: 40px;
    color: #a62626;
    font-family: caudex;
}

.survei_containerSurvei__htfRQ {
    position: absolute;
    top: 200px;
    left: 352px;
    display: flex;
    flex-direction: column;
    color: #1c1c1c;
}

.survei_textFieldSurvei__UJ9hf {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #bbc7cd;
    padding: 12px 16px;
    color: #1c1c1c;
    font-size: 16px;
    line-height: 24px;
    font-family: Caudex;
    width: 572px;
    margin-bottom: 20px;
}

.survei_textFieldTitleSurvei__Wb5nm {
    color: #1c1c1c;
    margin-bottom: 4px;
}

.survei_primaryButtonSurvei__jrQF0 {
    position: absolute;
    top: 960px;
    left: 352px;
    border-radius: 32px;
    background-color: #a62626;
    padding: 20px 280px;
    color: #ffffff;
    font-family: caudex;
    font-size: 16px;
    border: none;
}

.survei_secondaryButtonSurvei__ZwVxE {
    position: absolute;
    top: 992px;
    left: 352px;
    background-color: #ffffff;
    color: #a62626;
    border-radius: 32px;
    border: 1px solid #a62626;
    padding: 18px 286px;
    margin-top: 40px; 
    font-family: caudex;
    font-size: 16px;
}

.survei_searchBarContainer__ZnWTU {
    display: flex;
}

.survei_iconSearch__ySMWd {
    width: 16px;
    height: 16px;
    color: #5f737f;
    z-index: 1; 
    position: absolute;
}

.survei_searchBar__RDH9p {
    position: absolute;
    top: 192px;
    left: 352px;
    border-radius: 20px;
    background-color: #e1e8ec;
    width: 952px;
    height: 52px;
    box-sizing: border-box;
    gap: 12px;
    color: #5f737f;
    border: none;
    font-size: 16px;
    font-family: Caudex;
    padding-left: 44px;
}

.survei_searchBar__RDH9p:focus {
    outline: none; 
    box-shadow: 0 0 0 2px #5f737f; 
    border-radius: 20px; 
}

.survei_tableContainerSurvei__DWZrT {
    left: 400px;
    top: 280px;
    width: 60%;
    position: absolute;
    color: #1c1c1c;
    text-align: center;
    font-family: Caudex;
}

.survei_tdSurvei__ovb4d {
    border-radius: 28px;
    border: 1px solid #bbc7cd;
}

.survei_buttonSurvei__hdXsX {
    border: none;
    background: none;
    cursor: pointer;
}

.survei_iconSurvei__uE6hZ {
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
}

.survei_iconChevron__FydQC{
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding-right: 8px;
    padding-left: 8px;
}

.survei_buttonEnabledSebelumnya__Cz3nY {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 892px;
    left: 992px;
    border: none;
    background: none;
    color: #1c1c1c;
    font-family: Caudex;
    font-size: 16px;
}

.survei_buttonDisabledSebelumnya__gqkct {
    display: inline-flex;
    align-items: center;
    cursor: not-allowed;
    position: absolute;
    top: 892px;
    left: 992px;
    border: none;
    background: none;
    color: #bbc7cd;
    font-family: Caudex;
    font-size: 16px;
}

.survei_buttonEnabledSelanjutnya__oqIC6 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 892px;
    left: 1152px;
    border: none;
    background: none;
    color: #1c1c1c;
    font-family: Caudex;
    font-size: 16px;
}

.survei_buttonDisabledSelanjutnya__2WOb3 {
    display: inline-flex;
    align-items: center;
    cursor: not-allowed;
    position: absolute;
    top: 892px;
    left: 1152px;
    border: none;
    background: none;
    color: #bbc7cd;
    font-family: Caudex;
    font-size: 16px;
}

.survei_buttonTambahSurvei__gJe_e {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 104px;
    left: 1100px;
    border-radius: 36px;
    background-color: #a62626;
    width: 192px;
    height: 52px;
    padding: 10px 20px;
    outline: none;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    font-family: Caudex;
    cursor: pointer;
}

.survei_idContainer__G8hnp {
    font-family: caudex;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 352px;
}
